@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="/Default">Default</a>
    <a asp-page="/Scaling">Scaling</a>
    <a asp-page="/Moving">Moving</a>
</div>